# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\会议\ICDE\EGC\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
